# Xcode
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
Packages/
Package.resolved

# Carthage
Carthage/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
*.swp
*.swo
*~
.DS_Store
.AppleDouble
.LSOverride
Icon
Thumbs.db

# Build logs
build/
Logs/

# IDE
.vscode/
.idea/
*.xcuserdatad
